body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: left;
}
.tables-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    margin-top: 30px;
}
.table-container {
    padding: 20px;
    border-radius: 5px;
    margin: 15px 0;
}


.table-container.batam {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #c9e4fb;

}
.table-container.tarakan {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #e6e6fa;

}
.table-container.pontianak {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color:  #f5f5dc;

}
.table-container.manado {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffe4e1;

}
.table-container.full-width {
    grid-column: span 4;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #fdfdfd;
}



.header {
    display: flex;
    align-items: center;
}
.header select, .header span {
    margin-right: 10px;
}

.row-even {
    background-color: #ff3535; /* Light grey */
}
.row-odd {
    background-color: #ffffff; /* White */
}

