* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 20px auto;
    max-width: 1920px; 
}

h1 {
    text-align: left;
}

.tables-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-top: 30px;
}

.table-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

.table-container.batam {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #c9e4fb;
}

.gwBatam {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #c9e4fb;
}

.table-container.tarakan {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #e6e6fa;
}

.gwTarakan {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #e6e6fa;
}

.table-container.pontianak {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color:  #f5f5dc;
}

.gwPontianak {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color:  #f5f5dc;
}


.table-container.manado {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffe4e1;
}

.gwManado {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color:  #ffe4e1;
}

.table-container.full-width {
    grid-column: span 4; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color:  #f0ede2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.header {
    display: flex;
    align-items: center;
}

.header select, .header span {
    margin-right: 10px;
}

.table-container td {
    word-wrap: break-word;
    overflow: hidden;
}

@media (max-width: 768px) {
    .tables-grid {
        grid-template-columns: 1fr; 
    }
}